<% title "Sign Up" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_left">
          <!-- end #form_content_header_left --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <%- if show_title? -%>
                <h3><%=h yield(:title) %></h3>
              <%- end -%>

              <div id="already_have_account">
                Already have an account? <%= link_to "Login", login_path %>
              <!-- end #already_have_account --></div>

              <%= render :partial => 'form' %>

            <!-- end #content_body --></div>


          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

        <div id="form_content_footer">

          <span id="form_content_footer_left">
          <!-- end #form_content_footer_left --></span>

          <span id="form_content_footer_body">
          <!-- end #form_content_footer_body --></span>

          <span id="form_content_footer_right">
          <!-- end #form_content_footer_right --></span>

        <!-- end #form_content_footer --></div>

      <!-- end #form_content --></div>

      <div id="info_content">

        <span id="info_content_left">
        <!-- end #info_content_left --></span>

        <span id="info_content_text">
        <!-- end #info_content_text --></span>

        <span id="info_content_picture">
        <!-- end #info_content_picture --></span>

      <!-- end #info_content --></div>

    <!-- end #right_content --></span>

