<% title "Get In Touch With The Administrators Of StakeOn2" %>

  <div id="sidebar_right_content">

    <span id="sidebar">

          <div id="sidebar_header">
          <!-- end #sidebar_header --></div>

          <div id="sidebar_body">

            <div id="sidebar_body_head">

              <div id="sidebar_body_foot">
              <!-- end #sidebar_body_foot --></div>

            <!-- end #sidebar_body_head --></div>

          <!-- end #sidebar_body --></div>

          <div id="sidebar_footer">
          <!-- end #sidebar_footer --></div>

    <!-- end #sidebar --></span>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_left">
          <!-- end #form_content_header_left --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <div class="sub_heading">GRANDADA'S OFFICE COMPLEX</div>

              <p>
                # 7 Winners Drive<br />
                Off Igbogo Road<br />
                Uniport, Choba<br />
              </p>

              <br />


              <div class="sub_heading">Telephone:</div>

              <p>
                08081215616, 08097786962, 08067190983<br />
              </p>

              <br />


              <div class="sub_heading">Email:</div>

              <p>
                info@grandada.com, admin@grandada.com<br />
              </p>

              <br />


              <div class="sub_heading">Facebook:</div>

              <p>
                www.facebook.com/grandada
              </p>

              <br />


              <div class="sub_heading">Twitter:</div>

              <p>
                www.twitter.com/grandada<br />
              </p>

              <br />


              <div class="sub_heading">Myspace:</div>

              <p>
                www.myspace.com/grandada<br />
              </p>

            <!-- end #content_body --></div>

          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

        <div id="form_content_footer">

          <span id="form_content_footer_left">
          <!-- end #form_content_footer_left --></span>

          <span id="form_content_footer_body">
          <!-- end #form_content_footer_body --></span>

          <span id="form_content_footer_right">
          <!-- end #form_content_footer_right --></span>

        <!-- end #form_content_footer --></div>

      <!-- end #form_content --></div>

      <div id="info_content">

        <span id="info_content_left">
        <!-- end #info_content_left --></span>

        <span id="info_content_text">
        <!-- end #info_content_text --></span>

        <span id="info_content_picture">
        <!-- end #info_content_picture --></span>

      <!-- end #info_content --></div>

    <!-- end #right_content --></span>

  <!-- end #sidebar_right_content --></div>

