<% title "Get In Touch With The Administrators Of StakeOn2" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_left">
          <!-- end #form_content_header_left --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <div class="main_heading">Frequently Asked Question (FAQ)</div><br /><br />

              <ol>

                <div class="sub_heading"><li>What is STAKEON2?</li></div><br />

                STAKEON2 is a weekly game show where participants must register an entry of 2 or 5 numbers of their choice from numbers 1 – 90 according to the rules of the game, either in GAME 1 or GAME 2 of the STAKEON2 weekly game show from 8 am on Monday – 12:00 AM on Sunday of the week before the weekly draws that will be displayed through a live game show showing on AIT or via LIVE Webcam feed on the STAKEON2 website at 8:00 PM on Sunday.<br /><br /><br /><br />



                <div class="sub_heading"><li>Who is a PARTICIPANT?</li></div><br />

                A participant is anybody who registers an entry or entries in any or both of the games (GAME1 and GAME2) in the STAKEON2 weekly game show.<br /><br /><br /><br />



                <div class="sub_heading"><li>How are winners of a winner determined/certified?</li></div><br />

                A participant is determined / certified as a winner once the 2 or 5 numbers registered by him / her through single or multiple entries in either or in both GAME 1 or GAME 2 of the STAKEON2 weekly game show produces at least 2/2 in GAME1 or 2/5 in GAME2 amongst the weekly draws that will be displayed live on the STAKEON2 Weekly TV Game Show showing on AIT or via LIVE Webcam feed on the STAKEON2 website at 8:00 PM on Sunday. A participant becomes an instant winner and is entitled to the fixed prize for the week and is also entitled to instant multiple winnings if multiple of his / her entries registered are amongst the weekly draws that will be displayed live for the week, according to the rules of the game.
                What are GAME1 and GAME2 of the STAKEON2 weekly game show and what are the conditions for registering an entry of 2 or 5 numbers in each of the games?<br /><br /><br /><br />



                <div class="sub_heading"><li>What is GAME1?</li></div><br />

                GAME1 is one of the two games that forms the STAKEON2 weekly game show in which a participant must register an entry of any 2 numbers of his / her choice from numbers 1 - 90 and must score 2/2 when the weekly results are displayed before him / her can be certified as an instant winner of a fixed cash prize, according to the rules of the game or as a winner of the weekly grand prize of N100, 000 cash.<br /><br /><br /><br />



                <div class="sub_heading"><li>What are the conditions for registering in GAME1?</li></div><br />

                The conditions for registering an entry or entries for GAME1 are as follows:
                i.The participant must choose only 2 numbers of his / her choice from numbers 1 – 90 between 8am on Monday to 12:00 AM on Sunday of the week and register it as an entry for the game with the sum of N100 only with his/her Username, phone number and email address on www.stakeon2.com or through the STAKEON2 SMS number.
                ii.A participant can register an entry or entries of as many different or same selections as him / her desires to register for GAME1 of the STAKEON2 weekly game show before the weekly draws will be displayed.
                iii.Entry or entries of the numbers chosen by any participant must be registered through www.stakeon2.com or through STAKEON2 SMS number any of our agents that is listed on the STAKEON2 website.
                iv.Entries of the same selection from single or different participants are accepted for registration in GAME1 of the STAKEON2 weekly game show.
                v.Each selection of 2 numbers registered as an entry cost N100 only.<br /><br /><br /><br />



                <div class="sub_heading"><li>What is GAME2?</li></div><br />

                GAME2 is one of the two games that form the STAKEON2 weekly game show in which a participant must register an entry of any 5 numbers of his or her choices from numbers 1 - 90 and must score at least 2/5. When the weekly results are displayed before him / her can be certified as an instant winner of the fixed cash prize according to the rules of the game or as a winner of the weekly grand prize of N500, 000 cash if he / she score the highest number of draws amongst all the participants of the week.<br /><br /><br /><br />



                <div class="sub_heading"><li>What are the conditions for registering in GAME2?</li></div><br />

                The conditions for registering an entry or entries for GAME2 are as follows:-
                i.The participant must choose only 5 numbers of his / her choice from numbers 1 – 90 between 8am on Monday to 12:00 AM on Sunday of the week and register it as an entry for the game with the sum of N1000 only with his/her Username and address or phone number and email address on www.stakeon2.com or through the STAKEON2 SMS number.
                ii.A participant can register as many different selections or same selection as him / her desires to register for GAME2 of the STAKEON2 Weekly TV Game Show before the weekly draws will be displayed.
                iii.Entry or entries of the numbers chosen by any participant must be registered through www.stakeon2.com or through STAKEON2 SMS number any of our agents that is listed on the STAKEON2 website.
                iv.Entries of the same selection from single or different participants are accepted for registration in GAME2 of the STAKEON2 weekly game show.
                v.Each selection of 5 numbers registered as an entry for GAME2 cost N1000.00 only.<br /><br /><br /><br />



                <div class="sub_heading"><li>Where are payments for the stakes of STAKEON2 made?</li></div><br />

                Payments of registration fees can be made at MINJI-SE Churchill Micro-Finance Bank Limited located at #26 Churchill Road Port Harcourt

                Or any UBA Bank closet to you with the information below.

                ACCOUNT DETAILS
                Account Name:	MCMFB LTD

                Account Number:	00860030000025<br /><br /><br /><br />


                <div class="sub_heading"><li>What are the rules for participating in the STAKEON2 weekly game show?</li></div><br />

                The rules for participation in the STAKEON2 weekly game show are as follows?<br /><br /><br />

                <div class="list_heading">GENERAL RULES</div><br />

                <ol type="a">
                  <li>Any participant registering an entry on the game must be at least 18 years old.</li><br />
                  <li>Any entry or entries registered for GAME2 must not be below or above 5 numbers otherwise the entry will be declared void meaning the entry has failed and there will be no refund of entry fees.</li><br />
                  <li>All winners must claim their cash prize / prizes within seven days after the weekly draws are displayed live on AIT or via LIVE Webcam feed on the STAKEON2 website at 8:00 PM on Sunday.</li><br />
                  <li>A participant must choose the medium him/her wishes to receive his / her cash prize while registering his / her entry on the profile page of the user.</li><br />
                  <li>A participant is entitled to the grand prize of N100, 000 cash if he/she alone scores 2/2 for the week in GAME1.</li><br />
                  <li>The grand prize will be shared amongst winners at 300 to 1 (that is if the winners who score 2/2 are more than one) in GAME1.</li><br />
                  <li>The amount to be received by any winner who scores 2/2 will be N30, 000 cash (that is if the winners who score 2/2 are few) in GAME1.</li><br />
                  <li>A participant is entitled to the grand prize of N500, 000 cash if he / she alone score the highest number of draws for the week (that is 5 out of 5) in GAME2.</li><br />
                  <li>The grand prize will be shared amongst winners once there is more than one winner (that is in cases where we have various winners scoring 2/5, 3/5, 4/5 and 5/5 according to their scores) in GAME2.</li><br />
                  <li>Entries logged in after 12:00 AM Sunday will automatically be registered as entries for the next STAKEON2 Live Weekly TV Game Show.</li><br />
                </ol>
                <br /><br />


                <div class="list_heading">RULES FOR ONLINE USERS</div><br />

                The STAKEON2 weekly game show allows individuals to open an account maintained by the STAKEON2 webmasters. To be eligible for an account, a PARTICIPANT must Have satisfactorily completed our sign-up process. As part of our sign-up process, a PARTICIPANT:<br /><br />

                <ol type="a">
                  <li>Must register an email address</li><br />
                  <li>Must register a username, which will also act as their USERID</li><br />
                  <li>Enter the phone number that will serve as a verification medium to identify the user and also aid in keeping our information base accurate.</li><br />
                  <li>Must agree to our privacy policy and the terms and conditions of our user agreement, including the policy documents incorporated within it</li><br />
                  <li>Each PARTICIPANT must create a password, which together with the USERID, and email address allows a PARTICIPANT to access their account and participate in the weekly game show</li><br />
                </ol>
                <br /><br /><br /><br />



                <div class="sub_heading"><li>How can a winner claim his / her prize?</li></div><br />

                A winner can claim his / her cash prize through the following means:

                i.Our Offices - Come to any of our offices located at #135/136 Bende Street, Town, Port Harcourt or # 7 Winners Drive, Off Igbogo Rd, Uniport, Choba, Port Harcourt or through any of our agents or our various cash redemption centers Nationwide.
                ii.Bank Account - Enter the details of a Nigerian Bank with the correct account name and account number for direct payment.
                iii.Money Transfer - Money transfer method via MoneyGram or Western Union Money Transfer. Note: If there are any extra charges for these services, the cost will be footed by the weekly winner.
                iv.PayPal - A verified PayPal account can be used to receive weekly winnings.<br /><br /><br /><br />



                <div class="sub_heading"><li>Who sponsors the STAKEON2 weekly game show?</li></div><br />

                The STAKEON2 weekly game show is sponsored by GRANDADA INTEGRATED SERVICES LIMITED, a firm duly registered with the Corporate Affairs Commission (CAC) of Nigeria.  With RC Number: 840288. Registered on the 24th of August, 2009. GRANDADA INTEGRATED SERVICES LIMITED is collaboration with MINJI-SE CHURCHILL MICRO FINANCE BANK LTD as their financial partners in its Weekly Game Show projects.<br /><br /><br /><br />



                <div class="sub_heading"><li>Why is STAKEON2 weekly game show sponsored by GRANDADA INTEGRATED SERVICES LIMITED in collaboration with MINJI-SE CHURCHILL MICRO FINANCE BANK (MCMFB)?</li></div><br />

                STAKEON2 weekly game show is sponsored by GRANDADA INTEGRATED SERVICES LIMITED for the purpose of credibility and the empowerment of lucky winners with the sum of N100, 000 or N500, 000 cash weekly being the fixed prizes to be won weekly via GAME1 and GAME2 by the lucky winners as its contribution towards the alleviation of poverty and at the same time helping to advertise and promote the various products marketed and distributed nationwide by GRANDADA INTEGRATED SERVICES LIMITED.<br /><br /><br /><br />


              </ol>

            <!-- end #content_body --></div>


          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

        <div id="form_content_footer">

          <span id="form_content_footer_left">
          <!-- end #form_content_footer_left --></span>

          <span id="form_content_footer_body">
          <!-- end #form_content_footer_body --></span>

          <span id="form_content_footer_right">
          <!-- end #form_content_footer_right --></span>

        <!-- end #form_content_footer --></div>

      <!-- end #form_content --></div>

      <div id="info_content">

        <span id="info_content_left">
        <!-- end #info_content_left --></span>

        <span id="info_content_text">
        <!-- end #info_content_text --></span>

        <span id="info_content_picture">
        <!-- end #info_content_picture --></span>

      <!-- end #info_content --></div>

    <!-- end #right_content --></span>

