<% title "Welcome To StakeOn2 The Best Marketting System" %>

	<div id="content_body">

    <div id="content_body_gap_button">
    <!-- end #content_body_gap_button --></div>

    <div id="content_body_button">

      <span id="login_button">
      <!-- end #login_button --></span>

      <span class="button_gap">
      <!-- end .button_gap --></span>

      <span id="winners_button">
      <!-- end #winners_button --></span>

      <span class="button_gap">
      <!-- end .button_gap --></span>

      <span id="register_button">
      <!-- end #register_button --></span>

    <!-- end #content_body_button --></div>

    <div id="content_body_gap_envelope">
    <!-- end #content_body_gap_envelope --></div>

    <div id="content_body_envelope">

      <span id="envelope_left">

        <span id="envelope_left_gap_left_content">
        <!-- end #envelope_left_gap_left_content --></span>

        <span id="envelope_left_content">

          <div id="envelope_left_content_header">
          <!-- end #envelope_left_content_header --></div>

          <div id="envelope_left_content_picture">

          	<img src="images/envelope_left_content_picture.jpg" width="227" height="136" alt="Father Son Celebrates" />

          <!-- end #envelope_left_content_picture --></div>

          <div id="envelope_left_content_text">
          <!-- end #envelope_left_content_text --></div>

          <div id="envelope_left_content_button">

          	<img src="images/envelope_left_content_view.jpg" width="97" height="22" alt="View Button" />

          <!-- end #envelope_left_content_button --></div>

        <!-- end #envelope_left_content --></span>

        <span id="envelope_left_gap_right_content">
        <!-- end #envelope_left_gap_right_content --></span>

      <!-- end #envelope_left --></span>

      <span id="envelope_picture">
      <!-- end #envelope_picture --></span>

      <span id="envelope_right">

        <span id="envelope_right_gap_left_content">
        <!-- end #envelope_right_gap_left_content --></span>

        <span id="envelope_right_content">

          <div id="envelope_right_content_header">
          <!-- end #envelope_right_content_header --></div>

          <div id="envelope_right_content_text">
          <!-- end #envelope_right_content_text --></div>

          <div id="envelope_right_content_buttons">

            <div id="envelope_right_content_button_highlight">
            <!-- end #envelope_right_content_button_highlight --></div>

            <div class="envelope_right_content_button">
            <!-- end .envelope_right_content_button --></div>

            <div class="envelope_right_content_button">
            <!-- end .envelope_right_content_button --></div>

          <!-- end #envelope_right_content_buttons --></div>

          <div id="envelope_right_content_button">
          <!-- end #envelope_right_content_button --></div>

        <!-- end #envelope_right_content --></span>

        <span id="envelope_right_gap_right_content">
        <!-- end #envelope_right_gap_right_content --></span>

      <!-- end #envelope_right --></span>

    <!-- end #content_body_envelope --></div>

    <div id="content_body_gap_container">
    <!-- end #content_body_gap_container --></div>

  <!-- #content_body --></div>

